@font-face {
    font-family: "Handwriting";
    src: url("fonts/handwriting-draft_free-version.ttf") format("opentype")
}

body {
    background-color: #e7ba5a;
    max-width: 1024px;
    margin: 0 auto;
}

h2 {
    font-size: 3em;
    font-family: "Handwriting";
    text-align: center;
}

/*----------------- En-tête -----------------*/

.menu li a:hover {
    color: white;
}

li a:visited {
    color: black;
}

.menu li a {
    text-decoration: none;
}


/*----------------- Rejoignez-nous -----------------*/


.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    max-width: 1024px;
    height: 200px;
    padding: 1em;
    max-height: 100%;
    width: auto;
    font-family: "Handwriting";
    box-sizing: border-box;
}

header div img {
    max-height: 200px;
    width: auto;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 50px;
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

@media (max-width: 1024px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 200px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms;
    }

    #menu-toggle:checked~.menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms;
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    li a:visited {
        color: #e7ba5a;
    }
}

/*----------------- Articles -----------------*/

article {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    border-radius: 10px;
    border: solid 1px black;
    text-align: justify;
    margin-bottom: 1em;
}


article:nth-child(odd) {
    background-color: #d4b265;
}

article:nth-child(even) {
    background-color: #ebc570;
}

article div {
    padding: 1em;
}

article img {
    margin-top: auto;
    margin-bottom: auto;
    padding: 1em;
    height: 250px;
    max-height: 250px;

}

aside {
    margin-right: 1em;
}

aside img {
    height: 250px;
    max-height: 250px;
    display: flex;
    float: right;
}

.video {
    text-align: center;
}

h3 {
    font-size: 2em;
    font-family: "Handwriting";
}

span {
    font-size: medium;
    color: grey;
}

.citation {
    font-family: "Handwriting";
    color: grey;
}

audio {
    height: 25px;
}


/*---------------- Formulaire -----------------*/

.formulaire {
    margin: 1em;
    border-radius: 20px;
    background: #e7ba5a;
    box-shadow: 23px 23px 46px #c09a4b,
        -23px -23px 46px #ffda69;
    text-align: center;
    padding: 1em;
}

fieldset {
    border: 0;
    border-radius: 20px;
    background: #e7ba5a;
    box-shadow: inset 23px 23px 46px #c09a4b,
        inset -23px -23px 46px #ffda69;
    margin: 2em;
}

#infos label {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
}

input,
label {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
}

/*----------------- Footer -----------------*/

footer {
    text-align: center;
    font-family: "Handwriting";
}

@media only screen and (max-width: 1024px) {

    body {
        margin: 0em 1em 0em 1em;
    }

    article {
        display: grid;
        text-align: justify;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    video {
        max-height: 175px;
        max-width: 320px;
    }

    aside {
        display: grid;
    }
}