@font-face {
    font-family: "Handwriting";
    src: url("fonts/handwriting-draft_free-version.ttf") format("opentype")
}

body
{
    background-color:#e7ba5a;
    max-width: 1024px;
    margin: 0 auto;
}

h2
{
    font-size: 3em;
    font-family: "Handwriting";
    text-align: center;
}

/*------------ En-tête ------------*/

header
{
    max-width: 1024px;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

header img{
    max-height: 100%;
    width: auto;
}

#blason
{
    grid-column: 1;
    grid-row: 1 /span 2;
    justify-self: center;
    margin-top: 0px;
}

nav ul
{
    display: flex;
    justify-content: space-around;

}

nav a
{
    text-decoration: none;
}

nav ul li
{
    list-style: none;
    height: 2em;
    border-radius: 6px;
    background: linear-gradient(145deg, #fff7cc, #dad0ac);
    box-shadow:  7px 7px 14px #d0c7a4,
                -7px -7px 14px #ffffda;
}

#navbar
{
    grid-column: 2;
    grid-row: 2;
    align-self: flex-end;
    text-align: center;
}

#contact
{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    align-self: center;
}

/*------------ Articles ------------*/

article
{
    display:flex;
    max-width: 1024px;
    border-radius: 10px;
    border: solid 1px black;
    text-align: justify;
    margin-bottom: 1em;
}

article div
{
    height: 100%;
    padding-left: 1em;
}

article img 
{
    margin:auto ;
    padding: 1em;
    height: 250px
}

h3
{
    font-size: 2em;
    font-family: "Handwriting";
}

span
{
    font-size: medium;
    color: grey;
}

.citation{
    font-family: "Handwriting";
    color: grey;
}

audio
{
    height: 25px;
}


/*----------- Formulaire ------------*/

form
{
    
}

/*------------ Footer ------------*/

footer
{
    text-align: center;
   
}